In [33]:
import pandas as pd
from pathlib import Path
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from datetime import datetime


from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report

In [34]:
ppp_df = pd.read_csv(Path('data/ppp_yelp_allbiz.csv'))
ppp_df.head()

,Address,Business Name (PPP),Loan Amount,Foregiveness Amount,Foregiveness Rate,Approval Date,Business Status,Jobs,Zipcode,City
0,"555 N MAIN ST. , PRINEVILLE, OR 97754 , UNITE...",(THE) PANDA RESTAURANT,17000.0,17153.70,100.9041,5/11/20,Closed,7.0,97754,PRINEVILLE
1,"2118 LANCASTER DRIVE NORTHEAST,SUITE 110 , SAL...",(THE) PANDA RESTAURANT,18100.0,18247.28,100.8137,4/16/20,Closed,7.0,97305,SALEM
2,"224 NORTHWEST 1ST AVENUE, OREGON , CANBY, OR 9...",(THE) PANDA RESTAURANT,25500.0,25710.99,100.8274,4/13/20,Closed,4.0,97013,OREGON
3,"3962 SE HAWTHORNE BLVD , PORTLAND, OR 97214 , ...",1-2-3 YO LLC,131453.0,132409.32,100.7275,2/7/21,Open,16.0,97214,PORTLAND
4,"1412 13TH ST STE 300 , HOOD RIVER, OR 97031 , ...",10 SPEED HEIGHTS,15284.0,15413.91,100.8500,2/3/21,Closed,6.0,97031,HOOD RIVER

In [35]:
# code Business Satus to binary value
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
ppp_copy = ppp_df.copy()
ppp_copy['Business Status'] = le.fit_transform(ppp_copy['Business Status'])
ppp_copy
# 0 = Closed, 1 = Open

,Address,Business Name (PPP),Loan Amount,Foregiveness Amount,Foregiveness Rate,Approval Date,Business Status,Jobs,Zipcode,City
0,"555 N MAIN ST. , PRINEVILLE, OR 97754 , UNITE...",(THE) PANDA RESTAURANT,17000.0,17153.70,100.9041,5/11/20,0,7.0,97754,PRINEVILLE
1,"2118 LANCASTER DRIVE NORTHEAST,SUITE 110 , SAL...",(THE) PANDA RESTAURANT,18100.0,18247.28,100.8137,4/16/20,0,7.0,97305,SALEM
2,"224 NORTHWEST 1ST AVENUE, OREGON , CANBY, OR 9...",(THE) PANDA RESTAURANT,25500.0,25710.99,100.8274,4/13/20,0,4.0,97013,OREGON
3,"3962 SE HAWTHORNE BLVD , PORTLAND, OR 97214 , ...",1-2-3 YO LLC,131453.0,132409.32,100.7275,2/7/21,1,16.0,97214,PORTLAND
4,"1412 13TH ST STE 300 , HOOD RIVER, OR 97031 , ...",10 SPEED HEIGHTS,15284.0,15413.91,100.8500,2/3/21,0,6.0,97031,HOOD RIVER
...,...,...,...,...,...,...,...,...,...,...
7303,"4066 MOOSE RUN DR SW , ALBANY, OR 97321 , UNI...",ZNE CORP.,166010.0,168079.44,101.2466,1/23/21,1,45.0,97321,ALBANY
7304,"16362 LOWER HARBOR ROAD , BROOKINGS, OR 97415 ...","ZOLA'S PIZZERIA, INC.",72690.0,73604.10,101.2575,4/27/20,0,5.0,97415,BROOKINGS
7305,"4835 N ALBINA AV , PORTLAND, OR 97217 , UNITE...",ZONA ROSA INC.,54544.0,27787.10,50.9444,4/27/20,0,17.0,97217,PORTLAND
7306,"1220 NW 6TH ST , GRANTS PASS, OR 97526 , UNIT...",ZOOK LLC,33292.0,33603.83,100.9367,2/23/21,1,15.0,97526,GRANTS PASS
7307,"401 NE 28TH AVE , PORTLAND, OR 97232 , UNITED...",ZUM WHOL INC,261753.0,264270.13,100.9616,2/13/21,1,24.0,97232,PORTLAND

In [36]:
# convert Approval Date to datetime format
ppp_copy["Approval Date"] = pd.to_datetime(ppp_copy["Approval Date"])
print(ppp_copy.dtypes)
ppp_copy

Address                        object
Business Name (PPP)            object
Loan Amount                   float64
Foregiveness Amount           float64
Foregiveness Rate             float64
Approval Date          datetime64[ns]
Business Status                 int64
Jobs                          float64
Zipcode                        object
City                           object
dtype: object

,Address,Business Name (PPP),Loan Amount,Foregiveness Amount,Foregiveness Rate,Approval Date,Business Status,Jobs,Zipcode,City
0,"555 N MAIN ST. , PRINEVILLE, OR 97754 , UNITE...",(THE) PANDA RESTAURANT,17000.0,17153.70,100.9041,2020-05-11,0,7.0,97754,PRINEVILLE
1,"2118 LANCASTER DRIVE NORTHEAST,SUITE 110 , SAL...",(THE) PANDA RESTAURANT,18100.0,18247.28,100.8137,2020-04-16,0,7.0,97305,SALEM
2,"224 NORTHWEST 1ST AVENUE, OREGON , CANBY, OR 9...",(THE) PANDA RESTAURANT,25500.0,25710.99,100.8274,2020-04-13,0,4.0,97013,OREGON
3,"3962 SE HAWTHORNE BLVD , PORTLAND, OR 97214 , ...",1-2-3 YO LLC,131453.0,132409.32,100.7275,2021-02-07,1,16.0,97214,PORTLAND
4,"1412 13TH ST STE 300 , HOOD RIVER, OR 97031 , ...",10 SPEED HEIGHTS,15284.0,15413.91,100.8500,2021-02-03,0,6.0,97031,HOOD RIVER
...,...,...,...,...,...,...,...,...,...,...
7303,"4066 MOOSE RUN DR SW , ALBANY, OR 97321 , UNI...",ZNE CORP.,166010.0,168079.44,101.2466,2021-01-23,1,45.0,97321,ALBANY
7304,"16362 LOWER HARBOR ROAD , BROOKINGS, OR 97415 ...","ZOLA'S PIZZERIA, INC.",72690.0,73604.10,101.2575,2020-04-27,0,5.0,97415,BROOKINGS
7305,"4835 N ALBINA AV , PORTLAND, OR 97217 , UNITE...",ZONA ROSA INC.,54544.0,27787.10,50.9444,2020-04-27,0,17.0,97217,PORTLAND
7306,"1220 NW 6TH ST , GRANTS PASS, OR 97526 , UNIT...",ZOOK LLC,33292.0,33603.83,100.9367,2021-02-23,1,15.0,97526,GRANTS PASS
7307,"401 NE 28TH AVE , PORTLAND, OR 97232 , UNITED...",ZUM WHOL INC,261753.0,264270.13,100.9616,2021-02-13,1,24.0,97232,PORTLAND

In [37]:
# convert Approval Date datetime to ordinal format
ppp_copy["Approval Date"] = ppp_copy["Approval Date"].apply(lambda x: x.toordinal())
ppp_copy

,Address,Business Name (PPP),Loan Amount,Foregiveness Amount,Foregiveness Rate,Approval Date,Business Status,Jobs,Zipcode,City
0,"555 N MAIN ST. , PRINEVILLE, OR 97754 , UNITE...",(THE) PANDA RESTAURANT,17000.0,17153.70,100.9041,737556,0,7.0,97754,PRINEVILLE
1,"2118 LANCASTER DRIVE NORTHEAST,SUITE 110 , SAL...",(THE) PANDA RESTAURANT,18100.0,18247.28,100.8137,737531,0,7.0,97305,SALEM
2,"224 NORTHWEST 1ST AVENUE, OREGON , CANBY, OR 9...",(THE) PANDA RESTAURANT,25500.0,25710.99,100.8274,737528,0,4.0,97013,OREGON
3,"3962 SE HAWTHORNE BLVD , PORTLAND, OR 97214 , ...",1-2-3 YO LLC,131453.0,132409.32,100.7275,737828,1,16.0,97214,PORTLAND
4,"1412 13TH ST STE 300 , HOOD RIVER, OR 97031 , ...",10 SPEED HEIGHTS,15284.0,15413.91,100.8500,737824,0,6.0,97031,HOOD RIVER
...,...,...,...,...,...,...,...,...,...,...
7303,"4066 MOOSE RUN DR SW , ALBANY, OR 97321 , UNI...",ZNE CORP.,166010.0,168079.44,101.2466,737813,1,45.0,97321,ALBANY
7304,"16362 LOWER HARBOR ROAD , BROOKINGS, OR 97415 ...","ZOLA'S PIZZERIA, INC.",72690.0,73604.10,101.2575,737542,0,5.0,97415,BROOKINGS
7305,"4835 N ALBINA AV , PORTLAND, OR 97217 , UNITE...",ZONA ROSA INC.,54544.0,27787.10,50.9444,737542,0,17.0,97217,PORTLAND
7306,"1220 NW 6TH ST , GRANTS PASS, OR 97526 , UNIT...",ZOOK LLC,33292.0,33603.83,100.9367,737844,1,15.0,97526,GRANTS PASS
7307,"401 NE 28TH AVE , PORTLAND, OR 97232 , UNITED...",ZUM WHOL INC,261753.0,264270.13,100.9616,737834,1,24.0,97232,PORTLAND

In [38]:
# establish contextual "ordinal" origin date of 2020-01-01

import datetime
 
# using date.today() to get todays date
origin_date = pd.to_datetime('2020-01-01')
 
# Using toordinal() to generate ordinal value.
toOrdinal = origin_date.toordinal()
 
# Prints Ordinal Value of Todays Date.
print(f"Ordinal of date {origin_date} is {toOrdinal}")

Ordinal of date 2020-01-01 00:00:00 is 737425

In [39]:
# establishing loan approval date as a count of days past January 1st, 2020
ppp_copy["Approval Date"] = ppp_copy["Approval Date"] - 737425
ppp_copy

,Address,Business Name (PPP),Loan Amount,Foregiveness Amount,Foregiveness Rate,Approval Date,Business Status,Jobs,Zipcode,City
0,"555 N MAIN ST. , PRINEVILLE, OR 97754 , UNITE...",(THE) PANDA RESTAURANT,17000.0,17153.70,100.9041,131,0,7.0,97754,PRINEVILLE
1,"2118 LANCASTER DRIVE NORTHEAST,SUITE 110 , SAL...",(THE) PANDA RESTAURANT,18100.0,18247.28,100.8137,106,0,7.0,97305,SALEM
2,"224 NORTHWEST 1ST AVENUE, OREGON , CANBY, OR 9...",(THE) PANDA RESTAURANT,25500.0,25710.99,100.8274,103,0,4.0,97013,OREGON
3,"3962 SE HAWTHORNE BLVD , PORTLAND, OR 97214 , ...",1-2-3 YO LLC,131453.0,132409.32,100.7275,403,1,16.0,97214,PORTLAND
4,"1412 13TH ST STE 300 , HOOD RIVER, OR 97031 , ...",10 SPEED HEIGHTS,15284.0,15413.91,100.8500,399,0,6.0,97031,HOOD RIVER
...,...,...,...,...,...,...,...,...,...,...
7303,"4066 MOOSE RUN DR SW , ALBANY, OR 97321 , UNI...",ZNE CORP.,166010.0,168079.44,101.2466,388,1,45.0,97321,ALBANY
7304,"16362 LOWER HARBOR ROAD , BROOKINGS, OR 97415 ...","ZOLA'S PIZZERIA, INC.",72690.0,73604.10,101.2575,117,0,5.0,97415,BROOKINGS
7305,"4835 N ALBINA AV , PORTLAND, OR 97217 , UNITE...",ZONA ROSA INC.,54544.0,27787.10,50.9444,117,0,17.0,97217,PORTLAND
7306,"1220 NW 6TH ST , GRANTS PASS, OR 97526 , UNIT...",ZOOK LLC,33292.0,33603.83,100.9367,419,1,15.0,97526,GRANTS PASS
7307,"401 NE 28TH AVE , PORTLAND, OR 97232 , UNITED...",ZUM WHOL INC,261753.0,264270.13,100.9616,409,1,24.0,97232,PORTLAND

In [40]:
new_column_order = ["Loan Amount", "Foregiveness Amount", "Foregiveness Rate", "Approval Date", "Business Status", "Jobs"]
ppp_copy = ppp_copy[new_column_order]
ppp_copy

,Loan Amount,Foregiveness Amount,Foregiveness Rate,Approval Date,Business Status,Jobs
0,17000.0,17153.70,100.9041,131,0,7.0
1,18100.0,18247.28,100.8137,106,0,7.0
2,25500.0,25710.99,100.8274,103,0,4.0
3,131453.0,132409.32,100.7275,403,1,16.0
4,15284.0,15413.91,100.8500,399,0,6.0
...,...,...,...,...,...,...
7303,166010.0,168079.44,101.2466,388,1,45.0
7304,72690.0,73604.10,101.2575,117,0,5.0
7305,54544.0,27787.10,50.9444,117,0,17.0
7306,33292.0,33603.83,100.9367,419,1,15.0
7307,261753.0,264270.13,100.9616,409,1,24.0

In [41]:
# Define the features set.
X = ppp_copy.drop(columns = ["Business Status"])
y = ppp_copy["Business Status"]
print(X.shape)
print(y.shape)

(7308, 5)
(7308,)

In [42]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78, train_size=0.80)
print(X_train.shape)
print(y_train.shape)

(5846, 5)
(5846,)

In [43]:
# Creating a StandardScaler instance.
scaler = StandardScaler()
# Fitting the Standard Scaler with the training data.
X_scaler = scaler.fit(X_train)

# Scaling the data.
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [44]:
# Create a random forest classifier.
rf_model = RandomForestClassifier(n_estimators=128, random_state=78)

In [45]:
# Fitting the model
rf_model = rf_model.fit(X_train_scaled, y_train)

In [46]:
# Making predictions using the testing data.
predictions = rf_model.predict(X_test_scaled)

In [47]:
# Calculating the confusion matrix.
cm = confusion_matrix(y_test, predictions)

# Create a DataFrame from the confusion matrix.
cm_df = pd.DataFrame(
    cm, index=["Actual 0", "Actual 1"], columns=["Predicted 0", "Predicted 1"])

cm_df

          Predicted 0  Predicted 1
Actual 0          498          298
Actual 1          303          363

In [48]:
# Calculating the accuracy score.
acc_score = accuracy_score(y_test, predictions)

In [49]:
# Displaying results
print("Confusion Matrix")
display(cm_df)
print(f"Accuracy Score : {acc_score}")
print("Classification Report")
print(classification_report(y_test, predictions))

Confusion Matrix

          Predicted 0  Predicted 1
Actual 0          498          298
Actual 1          303          363

Accuracy Score : 0.5889192886456909
Classification Report
              precision    recall  f1-score   support

           0       0.62      0.63      0.62       796
           1       0.55      0.55      0.55       666

    accuracy                           0.59      1462
   macro avg       0.59      0.59      0.59      1462
weighted avg       0.59      0.59      0.59      1462

In [50]:
# Calculate feature importance in the Random Forest model.
importances = rf_model.feature_importances_
importances

array([0.21399827, 0.19654001, 0.21580051, 0.22540199, 0.14825922])

In [51]:
# We can sort the features by their importance.
sorted(zip(rf_model.feature_importances_, X.columns), reverse=True)

[(0.2254019900405709, 'Approval Date'),
 (0.21580050608320092, 'Foregiveness Rate'),
 (0.21399826876680117, 'Loan Amount'),
 (0.19654001311378932, 'Foregiveness Amount'),
 (0.14825922199563774, 'Jobs')]